<%= form_for(@pair) do |f| %>
  <% if @pair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pair.errors.count, "error") %> prohibited this pair from being saved:</h2>

      <ul>
      <% @pair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><strong>Создается пара по предмету <%=@subj.title%> для группы <%=@group.name%> </strong> </p>
  <table class="table table-striped table-bordered">
	<% @group.students.each do |student| %>
	<%= fields_for :miss do |fm| %>
	<tr>
		<td><%= student.name + " " + student.surname %> </td>
		<% student.misses.each do |old_miss| %>	
			<%if Pair.find(old_miss.pair_id).subject == @subj %>
				<td><%= old_miss.hours%> </td>
			<%end%>
		<%end%>
		<td><%= fm.text_field "hours[#{student.id}]", :size=>"10",:value=>0 %> </td>
	</tr>
	<% end %>
	<% end %>
  </table>
  <div class="field">
    <%= f.label :today %><br>
    <%= f.date_select :today %>
  </div>
  <%= f.hidden_field :subject_id,:value => @subj.id %>
  <%= f.hidden_field :group_id, :value =>  @group.id %>
  <div class="actions">
    <%= f.submit 'OK' %>
  </div>
<% end %>
