<%= form_for(@pair) do |f| %>
  <% if @pair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pair.errors.count, "error") %> prohibited this pair from being saved:</h2>

      <ul>
      <% @pair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="page-header">
		<h2><strong>Создается пара по предмету <%=@subj.title%> для группы <%=@group.name%> </strong> </h2>
  </div>
  
  <h3>Номер пары: </h3><%= f.text_field :number %>
  <h3>Номер аудитории: </h3> <%= f.text_field :auditory %>
  <br>
  <br>
  <table class="table table-striped table-bordered" >
	<tr>
	<th>Студент</th>
	<% Pair.where("group_id = ? AND subject_id = ?",@group.id,@subj.id).each do |pair|%>
		<th><%=pair.today%></th>
	<% end %>
	<th><%=Date.today%></th>
	</tr>
	<% @group.students.each do |student| %>
	<%= fields_for :miss do |fm| %>
	<tr>
		<td width="40%"><%= student.name + " " + student.surname %> </td>
		<% student.misses.each do |old_miss| %>	
			<%if Pair.find(old_miss.pair_id).subject == @subj %>
				<td><%= old_miss.hours%> </td>
			<%end%>
		<%end%>
		<!-- <td><%= fm.text_field "hours[#{student.id}]", :size=>"10",:value=>0 %> </td>-->
    <td>
        <label><%=0 %></label>
        <%= fm.radio_button "hours[#{student.id}]",0,:checked=>true%>
        <label><%=1 %></label>
        <%= fm.radio_button "hours[#{student.id}]",1%>
        <label><%=2 %></label>
        <%= fm.radio_button "hours[#{student.id}]",2%>
    </td>
	</tr>
	<% end %>
	<% end %>
  </table>
  <%= f.hidden_field :today, :value => Date.today %>
  <%= f.hidden_field :subject_id,:value => @subj.id %>
  <%= f.hidden_field :group_id, :value =>  @group.id %>
  <%= f.hidden_field :teacher_id, :value => params[:teacher_id] %>
  <div class="actions">
    <%= f.submit 'Создать',:class=>"btn btn-lg btn-primary" %>
  </div>
<% end %>
