<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-sm-6">
  <div class="field">
    <h3>Имя</h3>
    <%= f.text_field :name,:class => "form-control" %>
  </div>
  <div class="field">
    <h3>Фамилия</h3>
    <%= f.text_field :surname,:class => "form-control"%>
  </div>
  <div class="field">
    <h3>Группа</h3><br>
    <%= f.collection_select :group_id, Group.all, :id, :name, {include_blank: true},{:class=>"form-control" }%>
  </div>
  <br>
  <%if @student.new_record? %>
    <div class="actions">
      <%= f.submit "Создать",:class => "btn btn-warning"%>
    </div>
  <%else%>
    <div class="actions">
      <%= f.submit "Изменить",:class => "btn btn-warning"%>
    </div>
  <%end%>
  </div>
</div>
</div>
<% end %>
