<p id="notice"><%= notice %></p>
<div class="page-header">
	<h1>Профиль группы</h1>
</div>
<h3>
  <strong>Номер группы:</strong>
  <%= @group.name %>
</h3>

<h3>
  <strong>Курс:</strong>
  <%= @group.course %>
</h3>

<h3>
  <strong>Число студентов:</strong>
  <%= @group.students.count %>
</h3>
<div class="row">
	<div class="col-sm-6">
		<h3><strong>Изучаемые предметы:</strong></h3>
		<ul style="list-style: none;" class="list-group">	
			<% @group.subjects.each do |subj| %>
				<li><h5><%=link_to subj.title,subj,:class => " btn-link list-group-item "%></h5></li>
			<% end %>
		</ul>
	</div>
	<div class="col-sm-6">
		<h3><strong>Студенты:</strong></h3>
		<ul style="list-style: none;" class="list-group">	
			<% Student.where(group: @group).each do |student| %>
				<li><%=link_to student.name + " " +student.surname,student,:class => "btn-link list-group-item"%></li>
			<% end %>
		</ul>
	</div>
</div>

<script type="text/javascript">

$(function () {
    $('#stat').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Процентное соотношение количества часов по предметам'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'От общего числа часов',
            data: <%=raw @all_subjs.to_json%>
        }]
    });
});

</script>
<div class="thumbnail" id="stat" ></div>

<p>
	<%if session[:teacher_id] %>
	 <div style="float: left; width: auto;">
    <%= button_to 'Редактировать', edit_group_path(@group), :class =>"btn btn-warning",:method => :get %>  
    </div>

	<div style="float: left; width: auto; padding-left: 10px;">
    <%= button_to 'Удалить', @group,:class => "btn btn-danger",:method => :delete,data: {confirm: "Вы уверены?"} %>
    </div>
	<% end %>
	<div style="float: left; width: auto; padding-left: 10px;">
    <%= button_to 'Назад', groups_path,:class => "btn btn-info",:method => :get %>
    </div>
	

</p>
