<h1>Listing misses</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Pair</th>
      <th>Hours</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @misses.each do |miss| %>
      <tr>
        <td><%= miss.student %></td>
        <td><%= miss.pair %></td>
        <td><%= miss.hours %></td>
        <td><%= link_to 'Show', miss %></td>
        <td><%= link_to 'Edit', edit_miss_path(miss) %></td>
        <td><%= link_to 'Destroy', miss, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Miss', new_miss_path %>
