<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
<div class="col-sm-6">
  <div class="field">
    <h3>Название</h3>
    <%= f.text_field :title,:class => "form-control"%>
  </div>
  <div class="field">
    <h3>Ссылка на изображение</h3>
	<%= f.text_field :img,:class => "form-control" %>
  </div>
  <h3>Преподаватели:</h3>
  <div class="checkbox">
    <ul style="list-style: none;">
        <% Teacher.all.each do |teacher| %>
            <li>
                <%= check_box_tag 'teacher_ids[]', teacher.id %>
                <h5> <%=teacher.name + " " + teacher.patronymic + " " + teacher.surname  %></h5>
				
            </li>
        <% end %>
    </ul>   
  </div>
  <br>
  <%if @subject.new_record? %>
    <div class="actions">
      <%= f.submit "Создать",:class => "btn btn-warning"%>
    </div>
  <%else%>
    <div class="actions">
      <%= f.submit "Изменить",:class => "btn btn-warning"%>
    </div>
  <%end%>
  </div>
</div>
<% end %>

