<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%if @teacher.new_record? %>

<div class="row">
  <div class="col-sm-6">
  <div class="field">
  <h3>Логин</h3>
	<%= f.text_field :login ,:class=>"form-control"%>
  </div>
  <div class="field">
  <h3>Пароль</h3>
	<%= f.password_field :password, size: 40,:class=>"form-control" %>
  </div>
  <div>
  <h3>Подтвердите пароль</h3>
    <%= f.password_field :password_confirmation, size: 40 ,:class=>"form-control"%>
  </div>
  <% end %>
  <div class="field">
    <h3>Имя</h3>
    <%= f.text_field :name, :class => "form-control"%>
  </div>
  <div class="field">
    <h3>Отчество</h3>
    <%= f.text_field :patronymic, :class=>"form-control" %>
  </div>
  <div class="field">
    <h3>Фамилия</h3>
    <%= f.text_field :surname, :class=>"form-control" %>
  </div>
  <div class="field">
    <h3>Научная степень</h3>
    <%= f.text_field :degree, :class=>"form-control" %>
  </div>
  <div class="field">
    <h3>Ссылка на изображение</h3>
	<%= f.text_field :img,:class=>"form-control" %>
  </div>
  <br>
  <%if @teacher.new_record? %>
    <div class="actions">
      <%= f.submit "Создать",:class => "btn btn-warning"%>
    </div>
  <%else%>
    <div class="actions">
      <%= f.submit "Изменить",:class => "btn btn-warning"%>
    </div>
  <%end%>
  </div>
</div>
</div>
<% end %>
